.Header {
  padding: 0 $gutter/2;
  position: fixed;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  z-index: 5;

  &__menu {
    &-item {
      display: inline-block;
      padding: 0 $gutter/2;

      a {
        @include font('Raleway');
        line-height: calcRem(60px);
        text-transform: uppercase;
        transition: line-height 0.3s ease-in-out, color 0.3s ease-in-out;
      }
    }
  }

  &.scroll {
    background-color: $white;

    .Header__menu-item {
      a {
        color: $text;
        line-height: calcRem(48px);
      }
    }
  }
}