.Hero {
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-top: 100vh;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 100%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease-in-out;
    width: auto;

    @include screen('tablet') {
      height: auto;
    }
  }

  &__content {
    bottom: $padding;
    left: $gutter;
    max-width: calc(100% - 2 * #{$gutter});
    position: absolute;
    transition: max-width 0.3s ease-in-out;
    z-index: 1;

    a {
      display: inline-block;
      padding-top: $gutter/4;  
    }

    @include screen('mobile') {
      max-width: calc(60% - 2 * #{$gutter});
    }

    @include screen('tablet') {
      left: initial;
      max-width: 400px;
      right: $padding;
    }
  }
}