.Hero {
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-top: 100vh;
    position: relative;
    width: 100%;
  }

  &__image {
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__content {
    bottom: $padding;
    left: $gutter;
    max-width: calc(100% - 2 * #{$gutter});
    position: absolute;
    z-index: 1;

    a {
      display: inline-block;
      padding-top: $gutter/4;  
    }

    @include screen('tablet') {
      max-width: 400px;
      right: $padding;
    }
  }
}